/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Estilos específicos para secciones */
section {
  margin-bottom: 20px;
}

/* Estilos para los títulos de las secciones */
section h2 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

/* Estilos para los párrafos de las secciones */
section p {
  color: #555;
}

/* Media queries para diferentes tamaños de pantalla */
@media only screen and (max-width: 768px) {
  /* Estilos para tablet */
  nav ul li {
    display: block;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 480px) {
  /* Estilos para celular */
  header {
    padding: 10px;
  }

  nav ul {
    text-align: center;
  }

  nav ul li {
    display: block;
    margin: 10px auto;
  }
}
